extends layout

block content
  script(async type="text/javascript" src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(defer type="text/javascript" src='/socket.io/socket.io.js')
  script(defer type="text/javascript" src="/javascripts/script.js")

  .content
    div.logo
      img(src="/images/logo_Scouts_Waregem_filled.png")
      //img(src="/images/logo_Klauwaert.png")

    //scouts is 10, 15, 20, 40, 50, 60
    div#chooseAmountDiv
      div.normal-buttons
        //button(type='button' amount='5') €5
        button(type='button' amount='10') €10
        button(type='button' amount='15') €15
        button(type='button' amount='20') €20
        //button(type='button' amount='25') €25
        //button(type='button' amount='30') €30
        button(type='button' amount='40') €40
        button(type='button' amount='50') €50
        button(type='button' amount='60') €60
      button.custom-button(type='button') Ander bedrag

    div#paymentDiv.d-none
      a#amount
      div
        .loader
        img#qrImage(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA")
      button#cancel(type="button") Annuleer betaling
