extends layout

block content

    link(rel='stylesheet', href='/stylesheets/payment.css')

    paymentId.hidden-div= paymentId
    .container
        img(src=qrCode, alt="QR Code" width="500px")
        button#cancel(type="button") Annuleer betaling

    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(type="text/javascript" src="/javascripts/payment.js")