extends layout

block content

    link(rel='stylesheet', href='/stylesheets/payment.css')

    paymentId.hidden-div= paymentId
    qrCode.hidden-div= qrCode
    .container
        div#image
        button#cancel(type="button") Annuleer betaling



    script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(type="text/javascript" src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js')
    link(rel='stylesheet' href='https://unpkg.com/transition-style')
    script(type="text/javascript" src="/javascripts/payment.js")