.hidden-div {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#image{
    width: 70%;
    aspect-ratio : 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 100%;
    aspect-ratio : 1 / 1;
}

button {
    margin-top: 200px;
    display: block;
    width: 700px;
    height: 300px;
    border-radius: 50px;
    background-color: #810000;
    color: white;
    font-size: 70px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.loadingParent {
    transform: translate(35vw, -35vw);
}

.loader {
    border: 30px solid #f3f3f3; /* Light grey */
    border-top: 30px solid #555; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    position: relative;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }
    40% {
        clip-path: circle(40%);
    }
    100% {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

#confirm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

box-icon{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}