:root {
    /*-- scouts --*/
    --accent-color: #810000;
    --text-color: #b30202;

    /*-- klauwaert --*/
    /*--accent-color: #689DA5;*/
    /*--text-color: #3a7e8f;*/
}
body{
    box-sizing: border-box;
    background-image: url("../images/bacardi_background.png");
    background-size: cover;
    background-position: center;
}
body, .content, .logo img, .normal-buttons, .normal-buttons button, .custom-button, #paymentDiv, .loader, box-icon, #cancel, #confirm {
    margin: 0;
    padding: 0;
}

.d-none {
    display: none !important;
}

body {
    background-color: #eaeaea;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    width: 90%;
}

.content {
    display: flex;
    height: calc(100vh - 200px);
    padding: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logo img {
    height: 225px;
}

#chooseAmountDiv, #paymentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chooseAmountDiv {
    gap: 50px;
    padding-bottom: 10%;
}

#paymentDiv {
    padding-bottom: 10%;
}

.normal-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    width: 100%;
    max-width: 700px;
}

.normal-buttons button, .custom-button, #cancel {
    border-radius: 50px;
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    line-height: 70px;
    border: none;
}

.normal-buttons button {
    height: 200px;
    border: none;
    width: 28%;
    font-size: 50px;
}

.custom-button {
    width: 700px;
    height: 500px;
    font-size: 70px;
}

#cancel {
    margin-top: 200px;
    width: 700px;
    height: 200px;
    font-size: 70px;
    text-decoration: none;
}

a, #amount {
    font-size: 120px;
    font-weight: 800;
}

#amount {
    margin-bottom: 75px;
    color: var(--text-color);
}

#paymentDiv,
#paymentDiv * {
    width: 100%;
    text-align: center;
    flex: 1;
}

#paymentDiv p {
    max-height: fit-content;
    width: unset;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.35);
    border-radius: 45px;
    padding: 10px;
}

.qr-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
}

.qr-container img#qrImage {
    max-width: 100%;
    height: auto;
}

.overlay-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#overlayLogo {
    width: 30%;
    aspect-ratio: 1;
    object-fit: contain;
}

#paymentDiv #errorIcon {
    max-width: 50%;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.loader {
    width: 35% !important;
    aspect-ratio: 1;
    border: 15px solid #c4c0c0;
    border-top-color: #505050;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }
    40% {
        clip-path: circle(40%);
    }
    100% {
        clip-path: circle(125%);
    }
}

#paymentDiv button {
    flex: unset;
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

#confirm {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

box-icon {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out forwards;
}

